<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>WEKHA. El concurso</title>
    <!-- Style to create button -->
    <style>
        .GFG {
           width:100px;
           height:50px;
           background:green;
           border:yes;
           color:white;
        }
    </style>
</head>
<body>
    <h1>Esto es la página web que da acceso a la página de administración de los  concursos de WEKHA </h1>
        <!-- Adding link to the button on the onclick event -->
     <a href="http://localhost:5000/admin" class="GFG">Admin</a>
</body>
</html>