<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML//EN">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Wekha Local</title>
    <link rel="stylesheet" type="text/css" href="style" />
</head>

<body>


<h1>Esto es solo una prueba</h1>


<!-- Navegacion -->
<script src="navegacion" type="text/javascript"></script>
<!-- Acciones -->
<script src="acciones" type="text/javascript"></script>


<hr>
<p>Esto es solo para ir haciendo las <font color='red'>pruebas
necesarias</font>.</p>

<hr>

Y aqui pondremos el Formulario

<hr>

<form action="/my-handling-form-page" method="post">
  <ul>
    <li>
      <label for="name">Nombre:</label>
      <input type="text" id="name" name="user_name" />
    </li>
    <li>
      <label for="mail">Correo electrónico:</label>
      <input type="email" id="mail" name="user_mail" />
    </li>
    <li>
      <label for="msg">Mensaje:</label>
      <textarea id="msg" name="user_message"></textarea>
    </li>
  </ul>
</form>


<hr>

<address></address>
<!-- hhmts start -->Last modified: Wed Aug 21 20:10:37 CEST 2024 <!-- hhmts end -->
</body> </html>
