<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML//EN">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Wekha Local</title>
    <link rel="stylesheet" type="text/css" href="style.css" />
</head>

<body>


<h1>Esto es solo una prueba</h1>


<!-- Navegacion -->
<script src="navegador_players.js" type="text/javascript"></script>

<!-- Acciones -->
<script src="acciones_new.js" type="text/javascript"></script>

<hr>
<p>Esto es solo para ir haciendo las <font color='red'>pruebas
necesarias</font>.</p>

<hr>

Y aqui pondremos el Formulario


<hr>

<address></address>
<!-- hhmts start -->Last modified: Wed Aug 21 20:10:37 CEST 2024 <!-- hhmts end -->
</body> </html>
