<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML//EN">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Wekha Local</title>
    <link rel="stylesheet" type="text/css" href="style" />
</head>

<body>


<h1>Esto es solo una prueba</h1>


<!-- Navegacion -->
<h2> Nave 1</h2>
<script src="navegacion" type="text/javascript"></script>
<h2> Nave 2</h2>
<!-- Acciones -->
<script src="acciones" type="text/javascript"></script>
<!-- <div id="acctions">
<nav>
<center>
<ul>
<li>New</li>
<li><a href=»#inicio»>Get</a></li>
<li><a href=»#inicio»>Modify</a></li>
<li><a href=»#contacto»>Push CSV</a></li>
</ul>
</center>
</nav>
</div> -->

<hr>
<p>Esto es solo para ir haciendo las <font color='red'>pruebas
necesarias</font>.</p>

<hr>

Y aqui pondremos el Formulario


<hr>

<address></address>
<!-- hhmts start -->Last modified: Wed Aug 21 20:10:37 CEST 2024 <!-- hhmts end -->
</body> </html>
