fastapi
uvicorn
pydantic
pandas
numpy
psycopg2-binary
# To add security
typing_extensions
python-multipart
python-jose[cryptography]
passlib[bcrypt]
# Tested FORM
# src
# python-multipart
jinja2
# os
# End Test FORM